<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>515149100922-q2r16vaod521us7sjg3jj2k3n5fe6e9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515149100922-q2r16vaod521us7sjg3jj2k3n5fe6e9n</string>
	<key>API_KEY</key>
	<string>AIzaSyCwY1I9998ueI9stEq4DYA9sL_PyASKNEg</string>
	<key>GCM_SENDER_ID</key>
	<string>515149100922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Stripway.Stripway</string>
	<key>PROJECT_ID</key>
	<string>stripeway-2</string>
	<key>STORAGE_BUCKET</key>
	<string>stripeway-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515149100922:ios:f9a9c29150156326</string>
	<key>DATABASE_URL</key>
	<string>https://stripeway-2.firebaseio.com</string>
</dict>
</plist>